<%= render "shared/notice" %>

<h1>Summerfell Wi-Fi Hotspot</h1>

<p>
Welcome to the Summerfell Wi-Fi network. Please select a plan from the options below:
</p>

<%= render "shared/form_errors", model: @guest_transaction %>

<%= form_for @guest_transaction, html: {role: "form"} do %>
  <%= collection_radio_buttons(@guest_transaction, :package_id, @packages, :id, :name_with_description, {}, {}) do |b| %>
    <%= b.label(class: "control-label") { b.radio_button(class: "form-control") } %>
  <% end %>

  <%= f.label :first_name, class: "control-label" %>
  <%= f.text_field :first_name, class: "form-control" %>

  <%= f.label :last_name, class: "control-label" %>
  <%= f.text_field :last_name, class: "form-control" %>

  <%= f.label :cc_number, "Credit Card Number", class: "control-label" %>
  <%= f.text_field :cc_number, class: "form-control" %>

  <%= f.label :security_code, class: "control-label" %>
  <%= f.text_field :security_code, class: "form-control" %>

  <%= f.label :city, class: "control-label" %>
  <%= f.text_field :city, class: "form-control" %>

  <%= f.label :state, class: "control-label" %>
  <%= f.select :state, CS.states(:us).values class: "form-control" %>

  <%= f.label :zip, "Zip Code", class: "control-label" %>
  <%= f.text_field :zip, class: "form-control" %>

  <%= f.submit, class: "btn btn-default" %>
<% end %>
